@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nerko One',Arial, Helvetica, sans-serif;
    background: #000000;
}

header nav{
    margin-top: 10px;
    display: flex;
    background: rgba(128, 128, 128, 0.315);
    border-radius: 50px;
   /* position: fixed;*/
    width: 1183px;
    margin-left: 90px;
}

.links {
    font-family: 'Nerko One';
    margin: 10px;
    margin-left: 150px;
    margin-top: 20px;
}

.links a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: whitesmoke;
}

header nav h2{
    font-size: 50px;
    font-weight: 300;
    margin: 10px;
    margin-left: 130px;
    margin-top: 5px;
    color: whitesmoke;
}

.links a:hover{
    font-size: 32px;
}

/*About Section*/

.about{
    display: flex;
}

.left{
    width: 450px;
    height: 480px;
    margin-top: 10px;
    margin-left: 105px;
}

.left img{
    margin-top: 28px;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
    border-radius: 250px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.301);
}

.right{
    width: 500px;
    height: 480px;
    margin-top: 10px;
    margin-left: 200px;
}

.right h1{
    font-family: 'Cedarville Cursive','Nerko One',Arial, Helvetica, sans-serif;
    font-size: 130px;
    font-weight: 100;
    text-align: center;
    margin-top: 70px;
    color: rgb(224, 66, 26);
    text-shadow: 5px 5px rgba(255, 255, 255, 0.774);
}

.right p{
    font-size: 40px;
    text-align: center;
    width: 340px;
    margin-left: 82px;
    margin-top: -30px;
    font-family: 'Handjet';
    color: whitesmoke;
    text-shadow: 3px 2px rgb(202, 104, 38);
}

/*Skills Section*/

.skill .skill-container{
    display: flex;
}

.skill h1{
    text-align: center;
    margin-top: 60px;
    font-size: 80px;
    color: whitesmoke;
    text-shadow: 5px 10px rgb(226, 89, 25);
}

.skill .left{
    margin-top: 10px;
    margin-left: 150px;
    width: 450px;
}

.skill .right{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill .left img{
    margin-top: 45px;
    width: 60px;
    border: none;
    box-shadow: none;
}

.progress-bar__wrapper {
    position: relative;
    margin-left: 70px;
    margin-top: -43px;
  }
  .progress-bar__value {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    gap: 8px;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 700;
  }
  progress {
    width: 70%;
    height: 20px;
    border-radius: 50px;
    background-color: #ddd;
    transition: width 300ms ease;
    box-shadow: 3px 3px rgba(250, 247, 247, 0.664);
  }
  progress[value]::-webkit-progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    background-color: #dddddd;
    transition: width 300ms ease;
  }
  progress[value]::-webkit-progress-value {
    width: 0;
    border-radius: 50px;
    background-color: rgb(202, 86, 8);
    transition: width 300ms ease;
  }

  .skill .right img{
    margin-top: 45px;
    width: 60px;
    border: none;
    box-shadow: none;
}

/*Project1 Section*/

.project h1{
  color: #c31432;
    text-align: center;
    font-size:3rem;
    font-family: "Montserrat", sans-serif;
}


.project .project1,.project2,.project3,.project4 {
    width: 1000px;
    height: 650px;
    margin-left: 13%;
    margin-top: 70px;
    margin-bottom: 10px;
}

.project img{
  width: 500px;
  margin-top: 30px;
  margin-left: 250px;
  border-radius: 30px;
}

.project .source-link{
  margin-left: 60px;
}

.project .source-link img{
  width: 70px;
}

.project .description p{
  color: whitesmoke;
  width: 750px;
  font-size: 23px;
  text-align: justify;
  margin-left: 130px;
}

/*Resume Section*/

  .resume {
    width: 700px;
    height: 400px;
    margin-top: 70px;
    margin-left: 330px;
  }

  .resume h1{
    text-align: center;
    font-size:3rem;
    color: #c31432;
    
    font-family: "Montserrat", sans-serif;
  }

  .resume p{
    font-size: 25px;
    text-align: justify;
    margin-top: 30px;
    color: whitesmoke;
  }

  .wrapper{
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;  
    text-decoration: none;
    color: white;
    border: 2px solid #e7e5e5;
    border-radius: 55px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-left: 600px;
    margin-top: 50px;
  }
  
  .wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
    border-radius: 50px;
  }
  
  .wrapper a:hover{
    color: #ffffff;
    background: red;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }

  /*Contact Section*/

  .contact {
    display: flex;
    flex-direction: column; 
    position: relative;
    background-size: cover;
  }
  
  .contact-header {
    font-family: "Montserrat", sans-serif;
    margin: 4rem 10rem -1rem 10rem;
    text-align: center;
  }
  
  #co-title {
    font-size:3rem;
    font-weight: 700;
    color: #c31432;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    line-height: 2;
    height: auto;
    width: 70%;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 10rem;
  }

  .contact-content .contact-form h3{
    font-size: 15px;
  }
  
  .contact-form {
    font-family: "Montserrat", sans-serif;
    padding: 5rem;
  }
  
  #form-title {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1px;
    margin-left: 4rem;
    margin-bottom: 3rem;
  }
  
  fieldset {
    border: none;
  }
  
  .form-field {
    outline: none;
    width: 200%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.09);
      margin-bottom: .9rem;
  }
  
  #name, #email, #subject, #message {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    outline: none;
    background: transparent;
    border: none;
    font-size: .6rem;
    line-height: 2rem;
    padding-bottom: 0.7rem;
  }
  
  textarea, #message {
    width: 100%;
    color: #fff;
    overflow: visible;
  }
  
  #form-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    border: none;
    color: white;
    font-size: 0.6rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    width: 200%;
    height: 60px;
    background-color: #c31432;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  #form-btn:hover {
    opacity: 0.9;
    transform: translateY(-2.7%);
    box-shadow: 0 0 15px 0 #000;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 5rem;
    background-color: rgba(0,0,0,0.3);
  }
  
  .contact-info h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #c31432;
  }
  
  .contact-info a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #f8f5f5;
    font-size: 1rem;
    line-height: 3rem;
    margin-bottom: 5rem;
    transition: all .3s ease;
  }
  
  .contact-info a:hover {
    transform: translateY(-2.5%);
    color: #f1e8e8;
  }
  

  
  /*Footer Section*/
  /*Making this Footer by seeing somevideos on youtube.Making this website with my own Efforts*/
  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }